@import '~antd/dist/antd.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
 }


 svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block !important;
  /* vertical-align: middle !important; */
}

img{
	display: inline-block;
}

.hover-icon{
	color:#959595 !important;
}
.hover-icon:hover{
	color: #f03226 !important;
}

.bg-gray-gradient {
	background: linear-gradient(
		125.17deg, #272727 0%, #11101d 100%
	);
}

.ant-table-tbody {
	background-color: #302f2f;
	color: #fff;
 }
 .ant-table-thead .ant-table-cell{
	background-color: #302f2f;
	color: #fff;
 }
 .ant-table-row-expand-icon{
	background: #302f2f !important;
 }

 .ant-table-expanded-row .ant-table-cell{
	background-color: #777575;
 }

 
 .ant-table-tbody>tr.ant-table-row:hover>td, .ant-table-tbody>tr>td.ant-table-cell-row-hover{
	background: #f03226 !important;
 }
 tr.ant-table-expanded-row:hover>td {
	background: #f03226 !important;
}

footer{
	position: relative;
}
.footer__line {
	height: 48px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -48px;
	width: 100%;
}
.footer__line .inner {
	background: radial-gradient(ellipse at center,rgba(0,0,0,.2) 0,transparent 70%);
	border-radius: 50%;
	height: 192px;
	width: 100%;
}