/* @import '~antd/dist/antd.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--bg: #038fd4;
	--col: #343434;
}

.app{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
 }

 button, [type='button'], [type='reset'], [type='submit'] {
	-webkit-appearance: button;
	/* background-color: #f03226; */
	background-color: var(--bg);
	opacity: .9;
	background-image: none;

}

 svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block !important;
  /* vertical-align: middle !important; */
}

img{
	display: inline-block;
}

.hover-icon{
	color:#959595 !important;
}
.hover-icon:hover{
	/* color: #f03226 !important; */
	color: var(--bg) !important;
}

.bg-gray-gradient {
	background: linear-gradient(
		125.17deg, #272727 0%, #11101d 100%
	);
}

.ant-table-tbody {
	background-color: var(--col);
	color: #fff;
 }
 .ant-table-thead .ant-table-cell{
	background-color: var(--col) !important;
	color: #fff !important;
 }

 .ant-table-row-expand-icon{
	background: var(--col) !important;
 }

 .ant-table-expanded-row .ant-table-cell{
	background-color: var(--col);
 }

 
 .ant-table-tbody>tr.ant-table-row:hover>td, .ant-table-tbody>tr>td.ant-table-cell-row-hover{
	background: #5c5b5b !important;
 }
 tr.ant-table-expanded-row:hover>td {
	background: #5c5b5b !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg{
	color: #fff;
}


.ant-table-title{
	background: #302f2f;
}


/* .footer__line {
	height: 48px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -48px;
	width: 100%;
}
.footer__line .inner {
	background: radial-gradient(ellipse at center,rgba(0,0,0,.2) 0,transparent 70%);
	border-radius: 50%;
	height: 192px;
	width: 100%;
} */


.main-block{
	background: #4e4b4b url(./images/1221.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-blend-mode: multiply;
	width: 100%;
	/* min-height: 100vh; */
}
.main-block-mobile{
	background: #4e4b4b url(./images/1221.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: multiply;
	width: 100%;
}

.fon2{
	background: var(--col) url(./images/fon.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	background-blend-mode: multiply;
}
.fon3{
	background: var(--col) url(./images/fon1.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	background-blend-mode: multiply;
}
.fon4{
	background: var(--col) url(./images/fon2.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	background-blend-mode: multiply;
}




